@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Bitcount Prop Single", system-ui;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1100px;
    margin: auto;
}
/* Utility Classes */
.primary-text {
    color: #16afc4;
}
/* Header Start */
header {
    height: 100vh;
    background: url(./img/bg.jpg) center center/cover fixed;
    position: relative;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar img {
    width: 85px;
    margin-left: 100px;
    margin-top: 5px;
}
#navbar nav ul {
    display: flex;
    margin-right: 100px;
}
#navbar nav ul a {
    padding: 15px 20px;
    color: #fff;
    transition: all .5s;
}
#navbar nav ul a:hover {
    border-bottom: 2px solid #16afc4;
}
header .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
}
header .content .btn {
    color: #fff;
    border: 1px solid #fff;
    padding: 15px 20px;
    border-radius: 15px;
    transition: all .5s;
}
header .content .btn:hover {
    background-color: #16afc4;
}
header .content h1 {
    font-size: 40px;
    color: #fff;
}
header .content p {
    margin: 20px 0 40px;
    color: #fff;
    text-align: center;
}
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
}
header * {
    z-index: 10;
}
/* Header End */

/* About Start */
#about {
    height: 80vh;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about .title,
#offers .title,
#services .title {
    text-align: center;
    margin-bottom: 4rem;
}
#about .title h2,
#offers .title h2,
#services .title h2,
#gallery h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
#about .title p,
#offers .title p,
#services .title p {
    font-weight: 500;
}
#about .title p,
#services .title p {
    color: #9a9a9a;
}
#about .content-about {
    display: flex;
    justify-content: space-between;
}
#about .content-about p {
    margin-right: 7rem;
    line-height: 1.6;
    color: #9a9a9a;
}
#about .btn2 {
    display: inline-block;
    color: #fff;
    padding: 15px 20px;
    margin-top: 1rem;
    background-color: grey;
    border-radius: 30px;
    transition: all .5s;
}
#about .btn2:hover {
    background-color: #16afc4;
}
#about .content-about .grid-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 1200px;

}
#about .content-about img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.grid-img img:nth-child(1) {
    transform: translateX(-40px); 
}

.grid-img img:nth-child(2) {
    transform: translateX(-40px);  
}
/* Services End */

/* Offers Start */
#offers {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./img/offers-bg.jpg") center center/cover fixed;
    color: #fff;
}
#offers h2 {
    color: #16afc4;
}
#offers .security-offers {
    display: flex;
    justify-content: center;
    text-align: center;
}
#offers .security-offers img {
    width: 200px;
    border-radius: 50%;
    height: 190px;
}
#offers .security-offers h3 {
    margin: 15px 0;
}
#offers .security-offers p {
    padding: 0 20px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 300;
}
#offers .security-offers span {
    font-size: 18px;
    font-weight: 600;
    margin-left: 5px;
}
/* Offers End */

/* Services Start */
#services {
    padding: 5rem;
    background: #f4f4f4;
}
#services .services-items {
    display: flex;
    justify-content: center;
    align-items: center;
}
#services .services-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}
#services .services-items .services-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
#services .services-items .services-item h3 {
    position: relative;
    border-bottom: 1px dashed #9a9a9a;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
#services .services-items .services-item h3 span {
    position: absolute;
    top: 0;
    right: 0;
}
#services .btn {
    display: block;
    margin: 20px auto 0;
    padding: 15px 30px;
    border-radius: 30px;
    color: #fff;
    background-color: #16afc4;
    border: none;
    padding: 15px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: all .5s;
}
#services .btn:hover {
    background-color: #9a9a9a;
}
/* Services End */

/* Daytime Start */
#daytime {
    background: url("./img/bg-time.jpg") center center/cover fixed no-repeat;
    text-align: center;
    color: #fff;
}
#daytime .daytime-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
}
#daytime .daytime-items h3 {
    font-size: 20px;
    margin: 10px ;
}
#daytime .daytime-items p {
    font-weight: 500;
}
#daytime .daytime-items img {
    width: 100px;
}
/* Daytime End */

/* Gallery Start */
#gallery {
    padding: 8rem 0 6rem;
    background-color: #000000ea;
}
#gallery h2 {
    text-align: center;
    color: #fff;
}
#gallery .img-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#gallery .img-gallery img {
    width: 280px;
    height: 200px;
    border-radius: 15px;
    margin: 20px;
    opacity: .8;
}
#gallery .img-gallery img:hover {
    opacity: 1;
}
/* Gallery End */

/* Contact Start */
#contact {
    padding: 5rem 0;
    background-color: #f4f4f4;
}
#contact .container {
    max-width: 900px;
}
#contact .contact-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#contact .contact-content .content-info {
    width: 50%;
}
#contact .contact-content .content-info div {
    margin: 20px 0;
    line-height: 1.7;
}
#contact .contact-content .content-info h3 {
    font-size: 28px;
    margin-bottom: 10px;
}
#contact .contact-content .content-info i {
    color: #16afc4;
    margin-right: 5px;
}
#contact .contact-content .content-info a i {
    background-color: #16afc4;
    color: #fff;
    padding: 15px;
    width: 50px;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}
#contact .contact-content .content-info p {
    color: #9a9a9a;
}
form {
    width: 50%;
}
form input,
textarea {
    width: 100%;
    padding: 20px 15px;
    margin: 20px 0;
    border: none;
    background-color: oklch(86.923% 0.00328 15.561);
    border-radius: 15px;
}
#contact .btn {
    padding: 15px 25px;
    border: none;
    color: #fff;
    border-radius: 15px;
    background-color: #16afc4;
    cursor: pointer;
}
/* Contact End */

/* Footer Start */
#footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}
#footer a {
    color: #fff;
}
/* Footer End */

/* Responsiveness */
/* Medium + Tablet */
@media (max-width: 1000px) {
    #navbar img {
        width: 60px;
        margin-left: 20px;
    }
    #navbar nav ul {
        margin-right: 20px;
    }
    #navbar nav ul a {
        padding: 10px;
    }
    header .content h1 {
        font-size: 28px;
    }
    header .content p {
        margin: 20px 60px 40px;
        text-align: center;
        font-size: 14px;
    }
    #about {
        height: auto;
        padding: 4rem 2rem;
    }
    #about .content-about p {
        margin-right: 2rem;
    }
    #about .content-about .grid-img {
        width: 700px;
    }

    #offers {
        height: auto;
        padding: 2rem 1rem;
    }
    #offers .security-offers img {
        width: 110px;
        height: 105px;
    }
    #services .services-item img {
        width: 60px;
        height: 60px;
    }
    #services .services-items {
        display: block;

    }
    #services .services-items .services-item {
        margin: 20px 0px;
    }
    #contact .contact-content {
        flex-direction: column;
    }
    /* Mobile */
    @media (max-width: 600px) {
        #navbar {
            flex-direction: column;
        }
        #navbar nav ul {
            margin: auto;
        }
        #navbar nav ul a {
            font-size: 10px;
        }
        #navbar img {
            margin: 9px auto;
            margin-bottom: 10px;
        }
        header .content h1 {
            font-size: 18px;
        }
        header .content p {
            font-size: 12px;
        }
        #about .content-about {
            flex-direction: column;
        }
        #about .content-about .grid-img {
            width: 300px;
            margin: auto;
        }
        .grid-img img:nth-child(1) {
            transform: translateX(0px); 
        }

        .grid-img img:nth-child(2) {
            transform: translateX(0px);  
        }
        #about .btn2 {
            margin: 2rem 0;
        }
        #offers {
            height: auto;
            padding: 30px 10px;
        }
        #offers .security-offers {
            flex-direction: column;
        }
        #services .services-items .services-item {
            margin: 20px 0px;
            display: block;

        }
        #services .services-items .services-item h3 {
            font-size: 13px;
        }
        #services .services-items .services-item h3 span {
            right: -50px;
        }
        #services .services-items .services-item p {
            font-size: 12px;
        }
        #daytime .daytime-items {
            display: block;
            height: auto;
            padding: 30px 0;
        }
        #daytime .daytime-items .daytime-item {
            margin-top: 20px;
        }
        #contact .contact-content .content-info, 
        form {
            width: 80%;
        }
    }
}
